body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

h2,
h3 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="number"] {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #df6e11;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[readonly] {
    background-color: #f2f2f2;
}

.food_row {

    display: flex;
    justify-content: space-around;

    padding: 10px;
}

.food_row button {
    background: #4CAF50;
    text-align: center;
    display: inline-block;
    padding: 8px 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.submit {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}
.logo{
    width: 100%;
    text-align: center;
}
.logo img{
    height: 150px;
}
.note{
    font-weight: 300;
}

@media (max-width:768px) {
    .food_row {
        width: 100vw;
    }

    .food_row button {
        background: #4CAF50;
        text-align: center;
        display: inline-block;
        padding: 8px 10px;
        width: 100px;
    }

    .note {
        font-size: 15px;
        text-align: justify;

    }
    h1{
        font-size: 22px;
    }
    .logo img{
        height: 80px;
    }
    label{
        font-size: 15px;
    }

}
